{% load static %}
<header class="sticky top-0 z-999 flex w-full bg-white drop-shadow-1 dark:bg-boxdark dark:drop-shadow-none">
    <div class="flex justify-end w-full px-6 py-4 shadow-2">
        <div class="flex">
            <ul>
                <li></li>
            </ul>
            <a href="#" class="flex items-center gap-4">
                <span>{{user.user_name}}</span>
                <span class="h-12 w-12 rounded-full">
                    <img class="w-100" src="{% static 'image/super-admin/user.jpeg' %}" alt="">
                </span>
            </a>
        </div>
    </div>
</header>