<div class="text-black">
    <div class="flex justify-between px-6 py-4 bg-slate-400 items-center">
        <div>
            <h1 class="text-[1.5rem] text-bold">Sponsor List</h1>
        </div>
        <!-- <div>
            <div>
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search" id="searchText">
            </div>
        </div> -->
        <div>
            <a href="#" class="py-2 px-6 bg-blue-500 text-white text-[1.1rem] rounded-md hover:bg-blue-700">Add New</a>
        </div>
    </div>
    <div class="overflow-auto shadow">
        <table class="w-full">
            <thead class="bg-blue-500 border-b-2 border-gray-300 text-white">
              <tr>
                <th class="p-3 text-left">Full Name</th>
                <th class="p-3 text-left">Phone Number</th>
                <th class="p-3 text-left">Email Address</th>
                <th class="p-3 text-left">Number Of Child</th>
                <th class="p-3 text-left">Status</th>
                <th class="p-3 text-left">Request Date</th>
                <th class="p-3 text-left">Actions</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-100">
                {% for sponsor in sponsors %}
                <tr>
                    <td class="whitespace-nowrap text-left p-3">{{sponsor.spcall_first_name}} {{sponsor.spcall_last_name}}</td>
                    <td class="whitespace-nowrap text-left p-3">{{sponsor.spcall_phone_number}}</td>
                    <td class="whitespace-nowrap text-left p-3">{{sponsor.spcall_email}}</td>
                    <td class="whitespace-nowrap text-left p-3">{{sponsor.spcall_number_child}}</td>
                    <td class="whitespace-nowrap text-left p-3">
                        {% if sponsor.spcall_status == 1 %}
                            <span class="bg-green-500 px-3 py-2 rounded-lg">Accepted</span>
                        {% elif sponsor.spcall_status == 2 %}
                            <span class="bg-amber-500 text-white px-3 py-2 rounded-lg">Cancel</span>
                        {% else %}
                            <span class="bg-red-500 px-3 py-2 rounded-lg">Requested</span>
                        {% endif %}
                    </td>
                    <td class="whitespace-nowrap text-left p-3">{{sponsor.created_at|date:"d-M-Y"}}</td>
                    <td class="whitespace-nowrap text-left p-3">
                        <div class="flex justify-between px-2">
                            <a href="#"><i class="far fa-edit text-blue-500"></i></a>
                            {% if sponsor.spcall_status == 0 %}
                                <a href="{% url "sadmin:sponsor_request_accept" sponsor.id %}"><i class="fas fa-check text-green-500"></i></a>
                            {% endif %}
                            {% if sponsor.spcall_status == 0 %}
                                <a href="{% url "sadmin:sponsor_request_cancel" sponsor.id %}"><i class="far fa-trash-alt text-red-500"></i></a>
                            {% endif %}
                        </div>
                        
                    </td>
                </tr>
              {% endfor %}
              
              
            </tbody>
        </table>
    </div>
    
</div>
