<nav class="bg-[#2b2b2b] fixed top-0 w-full z-10 lg:px-2 px-0">
    <div class="">
        <div class="hidden lg:block">
            <div class="flex justify-between items-center py-[20px] px-[150px]">
                <div>
                    <a href="{% url 'psf:home' %}" class="w-[200px] text-[#ffcd05] text-[24px] font-bold">PSF</a>
                </div>
                <div class="hidden lg:block">
                    <div class="flex justify-between space-x-8">
                        <div>
                            <a href="{% url 'psf:home' %}" class="text-[18px] font-bold border-b-2 border-transparent text-blue-300 hover:border-blue-500 hover:transition-colors hover:duration-300 hover:text-[#ffcd05]">Home</a>
                        </div>
                        <div class="relative parent inline-block text-left">
                            <h1 class="cursor-pointer text-white text-[18px] font-bold border-b-2 border-transparent hover:border-blue-500 hover:transition-colors hover:duration-300 hover:text-[#ffcd05]">Events <span class="text-[13px]">▼</span></h1>
                            <div class="hidden absolute child z-10 w-[200px] bg-[#fffae6] shadow-lg">
                                <!-- Dropdown items go here -->
                                <h1 class="block px-4 py-[7px] text-[14px] bg-[#2b2b2b]"></h1>
                                <a href="{% url 'psf:current_event' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">Current Events</a>
                                <a href="{% url 'psf:complete_event' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">Completed Events</a>
                                <a href="{% url 'psf:global_giving_event' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">Global Giving Events</a>
                            </div>
                        </div>
                        <div class="relative parent inline-block text-left">
                            <h1 class="cursor-pointer text-white text-[18px] font-bold border-b-2 border-transparent hover:border-blue-500 hover:transition-colors hover:duration-300 hover:text-[#ffcd05]">Updates <span class="text-[13px]">▼</span></h1>
                            <div class="hidden absolute child z-10 w-[200px] bg-[#fffae6] shadow-lg">
                                <!-- Dropdown items go here -->
                                <h1 class="block px-4 py-[7px] text-[14px] bg-[#2b2b2b]"></h1>
                                <a href="{% url 'psf:blog' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">Blogs</a>
                                <a href="{% url 'psf:org_new' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">ORG in News</a>
                                <a href="{% url 'psf:annual_report' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">Annual Reports</a>
                            </div>
                        </div>
                        <div class="relative parent inline-block text-left">
                            <h1 class="cursor-pointer text-white text-[18px] font-bold border-b-2 border-transparent hover:border-blue-500 hover:transition-colors hover:duration-300 hover:text-[#ffcd05]">About us <span class="text-[13px]">▼</span></h1>
                            <div class="hidden absolute child z-10 w-[200px] bg-[#fffae6] shadow-lg">
                                <!-- Dropdown items go here -->
                                <h1 class="block px-4 py-[7px] text-[14px] bg-[#2b2b2b]"></h1>
                                <a href="{% url 'psf:org_team' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">ORG Team</a>
                                <a href="{% url 'psf:faq' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">FAQ</a>
                                <a href="{% url 'psf:about_org' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">About Organization</a>
                                <a href="{% url 'psf:contact_us' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">Contact Us</a>
                            </div>
                        </div>
                        <div class="relative parent inline-block text-left">
                            <h1 class="cursor-pointer text-white text-[18px] font-bold border-b-2 border-transparent hover:border-blue-500 hover:transition-colors hover:duration-300 hover:text-[#ffcd05]">Shelter Home <span class="text-[13px]">▼</span></h1>
                            <div class="hidden absolute child z-10 w-[200px] bg-[#fffae6] shadow-lg">
                                <!-- Dropdown items go here -->
                                <h1 class="block px-4 py-[7px] text-[14px] bg-[#2b2b2b]"></h1>
                                <a href="{% url 'psf:about_shelter_home' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">About Shelter Home</a>
                                <a href="{% url 'psf:children_shelter_home' %}" class="block px-4 py-2 text-black hover:text-[#ffcd05] font-semibold hover:bg-[#2b2b2b] text-[14px]">Children at our Shelter Home</a>
                            </div>
                        </div>
                        <div>
                            <a href='{% url "psf:gallery_view" %}' class="text-white text-[18px] font-bold border-b-2 border-transparent hover:border-blue-500 hover:transition-colors hover:duration-300 hover:text-[#ffcd05]">Gallery</a>
                        </div>
                        <div>
                            <a href='{% url "psf:donate_view" %}' class="text-white text-[18px] font-bold border-b-2 border-transparent hover:border-blue-500 hover:transition-colors hover:duration-300 hover:text-[#ffcd05]">Donate</a>
                        </div>
                        <div class="flex justify-center items-center">
                            <a href='{% url "psf:sponsor_view" %}' class="text-[#000] uppercase rounded-lg bg-[#FFCB05] py-1 px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Sponsor A Child</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="lg:hidden block w-full lg:w-auto mx-auto">
            <div class="flex justify-between items-center py-[8px] px-[5px]">
                <div>
                    <a href='{% url "psf:home" %}'>
                        <h1 class="w-[200px] text-[#ffcd05] text-[24px]">PSF</h1>
                    </a>
                </div>
                <button data-collapse-toggle="navbar-search" type="button" id="dropdownButton" class="inline-flex items-center p-2 text-sm text-white md:hidden" aria-controls="navbar-search" aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <div id="dropdownMenu"  class=" hidden bg-[#fffae6] items-center justify-between w-full md:flex md:w-auto">
                <div class="flex flex-col justify-center items-center space-y-2 p-3 pt-4  md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium   dark:border-gray-700">
                    <div>
                        <a href="{% url 'psf:home' %}" class="text-blue-700 font-bold">Home</a>
                    </div>
                    <div class="parent flex flex-col justify-center items-center space-y-2">
                        <h1 class="hover:text-blue-700 hover:font-bold">Events <span class="text-[13px]">▼</span></h1>
                        <div class="hidden child">
                            <div class="flex flex-col justify-center items-center space-y-2">
                                <a href="{% url 'psf:current_event' %}">Current Events</a>
                                <a href="{% url 'psf:complete_event' %}">Completed Events</a>
                                <a href="{% url 'psf:global_giving_event' %}">Global Giving Events</a>
                            </div>
                        </div>
                    </div>
                    <div class="parent flex flex-col justify-center items-center space-y-2">
                        <h1 class="hover:text-blue-700 hover:font-bold">Updates <span class="text-[13px]">▼</span></h1>
                        <div class="hidden child">
                            <div class="flex flex-col justify-center items-center space-y-2">
                                <a href="{% url 'psf:blog' %}">Blogs</a>
                                <a href="{% url 'psf:org_new' %}">ORG in News</a>
                                <a href="{% url 'psf:annual_report' %}">Annual Reports</a>
                            </div>
                        </div>
                    </div>
                    <div class="parent flex flex-col justify-center items-center space-y-2">
                        <h1 class="hover:text-blue-700 hover:font-bold">About us <span class="text-[13px]">▼</span></h1>
                        <div class="hidden child">
                            <div class="flex flex-col justify-center items-center space-y-2">
                                <a href="{% url 'psf:org_team' %}">ORG Team</a>
                                <a href="{% url 'psf:faq' %}">FAQ</a>
                                <a href="{% url 'psf:about_org' %}">About Organization</a>
                                <a href="{% url 'psf:contact_us' %}">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="parent flex flex-col justify-center items-center space-y-2">
                        <h1 class="hover:text-blue-700 hover:font-bold">Shelter Home <span class="text-[13px]">▼</span></h1>
                        <div class="hidden child">
                            <div class="flex flex-col justify-center items-center space-y-2">
                                <a href="{% url 'psf:about_shelter_home' %}">About Shelter Home</a>
                                <a href="{% url 'psf:children_shelter_home' %}">Children at our Shelter Home</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href='{% url "psf:gallery_view" %}' class="">Gallery</a>
                    </div>
                    <div>
                        <a href='{% url "psf:donate_view" %}' class="">Donate</a>
                    </div>
                </div>
                <div class="pb-4 flex justify-center items-center">
                    <a href='{% url "psf:sponsor_view" %}' class="text-[#000] uppercase rounded-lg bg-[#FFCB05] py-2 px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Sponsor A Child</a>
                </div>
            </div>
        </div>
    </div>
  </nav>
  <div class="lg:mt-[76px] mt-[56px ]">

  </div>
      
     
