{% extends "super-admin/base/index.html" %}
{% block sadminTitle %}
Video list
{% endblock sadminTitle %}
{% block sadminMain %}
{% include "super-admin/video/video-table.html" %}
{% include "super-admin/video/video-edit.html" %}
{% include "super-admin/video/video-add.html" %}
{% endblock sadminMain %}
{% block sadminScript %}
<script>
    {% comment %} $("#sliderImage").on("click",()=>{
        $("#sliderImageAddModal").removeClass('hidden')
    })
    var closeButton = document.querySelectorAll('#successCloseButton');
    closeButton.forEach((c_button)=>{
            c_button.addEventListener('click',()=>{
                $("#sliderImageAddModal").addClass("hidden");
            })
    })
    $("#staff_image").on("change",()=>{
        var upload_image = document.getElementById('staff_image');
        $("#uploadImage").attr('src',URL.createObjectURL(upload_image.files[0]))
    }) {% endcomment %}
</script>
{% endblock sadminScript %}