{% extends "super-admin/base/index.html" %}
{% block sadminTitle %}
    change password
{% endblock sadminTitle %}
{% block sadminMain %}
<div class="w-full flex justify-center">
    <div class="w-1/2 bg-slate-400 h-[100vh]">
        <div class="text-[2rem] font-bold py-2 px-3 bg-slate-700 text-white text-center">Change Password</div>
        <form action="{% url "auth_user:change_password" %}" method="post">
            {% csrf_token %}
            <div class="w-full flex flex-col items-center mt-[3rem]">
                <div class="flex flex-col w-2/3 bg-slate-600 px-4 py-2">
                    <label for="old_password" class="text-[15px] py-2 text-white">Old Password</label>
                    <input class="border-2 border-gray-600 text-[15px] py-3 px-2 rounded w-full" type="password" name="old_password" id="old_password" placeholder="old password" required>
                </div>
                <div class="flex flex-col w-2/3 bg-slate-600 px-4 py-2">
                    <label for="new_password" class="text-[15px] py-2 text-white">New Password</label>
                    <input class="border-2 border-gray-600 text-[15px] py-3 px-2 rounded w-full" type="password" name="new_password" id="new_password" placeholder="new password" required>
                </div>
                <div class="flex flex-col w-2/3 bg-slate-600 px-4 py-2">
                    <label for="con_password" class="text-[15px] py-2 text-white">Confirm Password</label>
                    <input class="border-2 border-gray-600 text-[15px] py-3 px-2 rounded w-full" type="password" name="con_password" id="con_password" placeholder="confirm password" required>
                </div>
                <div class="flex flex-col w-2/3 bg-slate-600 px-4 pt-2 pb-6">
                    <button type="submit" class="px-4 py-2 text-white font-bold text-[1.4rem] bg-green-600 rounded hover:bg-green-700">SAVE</button>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock sadminMain %}