{% extends "super-admin/base/index.html" %}
{% block sadminTitle %}
    update profile information
{% endblock sadminTitle %}
{% block sadminMain %}
<div class="w-full flex justify-center">
    <div class="w-1/2 bg-slate-400 h-[100vh]">
        <div class="text-[2rem] font-bold py-2 px-3 bg-slate-700 text-white text-center">Update User Profile</div>
        <form action="{% url 'sadmin:edit_profile_save' %}" method="post">
            {% csrf_token %}
            <div class="w-full flex flex-col items-center mt-[3rem]">
                <div class="flex flex-col w-2/3 bg-slate-600 px-4 py-2">
                    <label for="user_name" class="text-[15px] py-2 text-white">User Name</label>
                    <input class="border-2 border-gray-600 text-[15px] py-3 px-2 rounded w-full" type="text" value="{{user.user_name}}" name="user_name" id="user_name" required>
                </div>
                <div class="flex flex-col w-2/3 bg-slate-600 px-4 py-2">
                    <label for="email" class="text-[15px] py-2 text-white">Email Address</label>
                    <input class="border-2 border-gray-600 text-[15px] py-3 px-2 rounded w-full" value="{{user.email}}" type="email" name="email" id="email" required>
                </div>
                <div class="flex flex-col w-2/3 bg-slate-600 px-4 pt-2 pb-6">
                    <button type="submit" class="px-4 py-2 text-white font-bold text-[1.4rem] bg-green-600 rounded hover:bg-green-700">SAVE</button>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock sadminMain %}