{% extends "base/index.html" %}
{% load static %}
{% block mainBody %}
<div class="owl-carousel carousel1 owl-theme w-[100%] h-[25vh] sm:h-[25vh] md:h-[45vh] lg:h-[80vh]">
    {% for slide in slides %}
        {% include "psf/home/slide-card.html" %}
    {% endfor %}
</div>
<div class="lg:mx-[200px] mx-[20px] my-[20px]">
    <h1 class="lg:text-[42px] text-[24px] font-semibold text-center text-[#FFCB05]">Give a Little. Change a Lot.</h1>
    <h1 class="lg:text-[42px] text-[24px] font-semibold text-center">Current Causes</h1>
    <h1 class="lg:text-[20px] text-[16px] text-center">Donate For These Causes, And Help Our Students Keep Their Dreams Alive</h1>
    <div class="my-[30px] grid lg:grid-cols-4 grid-cols-1 gap-2">
            <div class="shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="{% url 'psf:donate_view' %}"><img class="h-[280px] w-[100%]" src="{% static 'image/donate1.jpg' %}" alt=""></a>
                </div>
                <div class="w-[100%]">
                    <a href="{% url 'psf:donate_view' %}"><button class="text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[14px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button></a>
                </div>
                <div class="px-[20px] py-[10px]">
                    <h1 class="text-[24px] font-semibold text-center">ZAKAT for Education</h1>
                    <p class="text-[16px] text-[#54595F] text-center">Utilizing Zakat funds for education can be the key to unlocking a brighter future for someone.</p>
                </div>
            </div>
            <div class="shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="{% url 'psf:donate_view' %}"><img class="h-[280px] w-[100%]" src="{% static 'image/donate2.jpg' %}" alt=""></a>
                </div>
                <div class="w-[100%]">
                    <a href="{% url 'psf:donate_view' %}"><button class="text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[14px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button></a>
                </div>
                <div class="px-[20px] py-[10px]">
                    <h1 class="text-[24px] font-semibold text-center">School Uniform</h1>
                    <p class="text-[16px] text-[#54595F] text-center">School Uniform for greater School Spirit and pride among all the children.</p>
                </div>
            </div>
            <div class="shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="{% url 'psf:donate_view' %}"><img class="h-[280px] w-[100%]" src="{% static 'image/donate3.jpg' %}" alt=""></a>
                </div>
                <div class="w-[100%]">
                    <a href="{% url 'psf:donate_view' %}"><button class="text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[14px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button></a>
                </div>
                <div class="px-[20px] py-[10px]">
                    <h1 class="text-[24px] font-semibold text-center">School Stationary</h1>
                    <p class="text-[16px] text-[#54595F] text-center">Stationery items of various sorts entice children to study with vigour.</p>
                </div>
            </div>
            <div class="shadow-xl bg-[#fff] rounded-md w-[100%] h-[520px]">
                <div class="">
                    <a href="{% url 'psf:donate_view' %}"><img class="h-[280px] w-[100%]" src="{% static 'image/donate4.jpg' %}" alt=""></a>
                </div>
                <div class="w-[100%]">
                    <a href="{% url 'psf:donate_view' %}"><button class="text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[14px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button></a>
                </div>
                <div class="px-[20px] py-[10px]">
                    <h1 class="text-[24px] font-semibold text-center">School Bag</h1>
                    <p class="text-[16px] text-[#54595F] text-center">A durable school bag ensures the best schooling experience and comfort.</p>
                </div>
            </div>
    </div>
</div>
<div class="lg:mx-[200px] mx-[20px] my-[10px]">
        <h1 class="lg:text-[42px] text-[24px] text-center font-semibold mb-8">Most Populer Event/Project</h1>
        <div class="owl-carousel carousel3 owl-theme">
            <div class="item shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="#"><img class="h-[250px]" src="{% static 'image/logo.jpg' %}" alt=""></a>
                </div>
                <div class="px-[20px]">
                    <div class="text-[#54595F] py-[30px] text-[20px] font-bold">
                        <a href="#">Operation and Management of the Edward M. Kennedy Center</a>
                    </div>
                    <div class="py-[20px]">
                        <a href="#" class="text-[#FFCB05]">Read More »</a>
                    </div>
                </div>
            </div>
            <div class="item shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="#"><img class="h-[250px]" src="{% static 'image/logo.jpg' %}" alt=""></a>
                </div>
                <div class="px-[20px]">
                    <div class="text-[#54595F] py-[30px] text-[20px] font-bold">
                        <a href="#">Operation and Management of the Edward M. Kennedy Center</a>
                    </div>
                    <div class="py-[20px]">
                        <a href="#" class="text-[#FFCB05]">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="lg:mx-[200px] mx-[20px] my-[100px]">
    <div class="owl-carousel carousel2 owl-theme w-[100%] h-[80vh]">
        <div class="item w-[100%] h-[80vh]"><iframe class="w-[100%] h-[100%]" allowfullscreen src="{% static 'video/video1.mp4' %}" frameborder="0"></iframe></div>
        <!-- <div class="item w-[100%] h-[80vh]"><iframe class="w-[100%] h-[100%]" allowfullscreen src="video/Btv news.mp4" frameborder="0"></iframe></div> -->
    </div>
</div>
<div class="mt-[100px]">
    <div class="lg:h-[40vh] w-[100%] h-[80vh] relative">
        <img class="lg:h-[40vh] w-[100%] h-[80vh] object-cover" src="{% static 'image/footer-top.jpg' %}" alt="">
        <div class="lg:h-[40vh] w-[100%] h-[80vh] absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="flex lg:flex-row flex-col justify-center lg:space-x-[100px] space-x-0 lg:space-y-0 space-y-[50px]">
                <div class="flex flex-col justify-center items-center space-y-6">
                    <h1 class="text-[42px] font-semibold font-['Oswald'] text-white text-center">Make A Donation</h1>
                    <h1 class="text-[#FFCB05] text-[18px] text-center">Your donation can support a child’s education</h1>
                    <a href="{% url 'psf:donate_view' %}"><button class="rounded-xl text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[10px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button></a>
                </div>
                <div class="flex flex-col justify-center items-center space-y-6">
                    <h1 class="text-[42px] font-semibold font-['Oswald'] text-white text-center">Make A Donation</h1>
                    <h1 class="text-[#FFCB05] text-[18px] text-center">Just BDT 2,000 to support a child’s monthly education</h1>
                    <a href="{% url 'psf:sponsor_view' %}"><button class="rounded-xl text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[10px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">SPONSOR NOW</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock mainBody %}