<div class="item w-[100%] h-[80vh] relative">
    <img class="w-[100%] h-[80vh]" src="{{slide.slider_image.url}}" alt="">
    <div class="absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b] w-full">
        <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
            <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center uppercase">{{slide.slider_caption}}</h1>
            <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">{{slide.slider_description}}.</p>
        </div>
    </div>
</div>