{% extends "super-admin/base/index.html" %}
{% block sadminTitle %}
slider image list
{% endblock sadminTitle %}
{% block sadminMain %}
{% include "super-admin/slider/slider-table.html" %}
{% include "super-admin/slider/slider-edit.html" %}
{% include "super-admin/slider/slider-add.html" %}
{% endblock sadminMain %}
{% block sadminScript %}
<script>
    $("#sliderImage").on("click",()=>{
        $("#sliderImageAddModal").removeClass('hidden')
    })

    var all_slider_image = document.querySelectorAll('#editSliderImage');
    all_slider_image.forEach((slide)=>{
        slide.addEventListener('click',()=>{
            var slide_id = slide.getAttribute('data-id');
            $("#editSliderImageModal").removeClass('hidden')
            $.ajax({
                type:"POST",
                url:'{% url "sadmin:get_slide" %}',
                data:{
                    slide :slide_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success:(res)=>{
                    var slide = res['slide'];
                    $("#eidtSliderNewImage").empty();
                    if(res['status'] == 'success'){

                        $("#slide").val(slide['id']);
                        $("#slide_title").val(slide['slider_caption']);
                        $("#slider_description").val(slide['slider_description']);
                        var slide_image_show = '';
                        if(slide['slider_image'] != ' '){
                            console.log("limonm")
                            slide_image_show = '<img id="uploadImage" src="/media/'+slide['slider_image']+'" class="w-full" alt="">';
              
                        }else{
                            slide_image_show = '<span class="py-5"><i class="fas fa-image text-[5rem] text-stone-950"></i></span>'+
                                                '<p>Upload a file or drag and drop </p>'+
                                                '<p>PNG,JPG OR GIF up to 2 MB</p>';
                                                console.log("lmonm")
                                            }
                        $("#eidtSliderNewImage").append(slide_image_show);
                    }
                    console.log(res)
                }
            })
        })
    })

    var closeButton = document.querySelectorAll('#successCloseButton');
    closeButton.forEach((c_button)=>{
            c_button.addEventListener('click',()=>{
                $("#sliderImageAddModal").addClass("hidden");
            })
    })
    var edit_modal_close_button = document.querySelectorAll('#successCloseButton');
    edit_modal_close_button.forEach((c_button)=>{
            c_button.addEventListener('click',()=>{
                $("#editSliderImageModal").addClass("hidden");
            })
    })
    $("#slide_image").on("change",()=>{
        var upload_image = document.getElementById('slide_image');
        var slide_image = '<img src="'+URL.createObjectURL(upload_image.files[0])+'">';
        $("#sliderNewImage").empty();
        $("#sliderNewImage").append(slide_image);
    })
    $("#eidt_slide_image").on("change",()=>{
        var upload_image = document.getElementById('eidt_slide_image');
        $("#uploadImage").attr('src',URL.createObjectURL(upload_image.files[0]))
    })
</script>
{% endblock sadminScript %}