{% extends "base/index.html" %}
{% load static %}
{% block mainBody %}
<div class="lg:h-[80vh] h-[45vh] relative">
    <img class="lg:h-[80vh] h-[45vh] object-cover w-full" src="{% static 'image/footer-top.jpg' %}" alt="">
    <div class="absolute w-[100%] bottom-0 flex justify-center items-center bg-opacity-[.85] bg-[#2b2b2b]">
        <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
            <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center">HELP BRING A SUSTAINABLE SOCIAL CHANGE</h1>
            <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">The best way to change a child’s life is to change the world they live in. When you sponsor a child, you are not only helping them, but also you are changing an entire community to ensure sustainability and giving children the best opportunities for a stable and fruitful life.</p>
        </div>
    </div>
</div>
<div>
    <div class="flex justify-center items-center lg:mt-[50px] mt-[20px]">
        <div class="flex justify-center items-center p-[10px] lg:w-[75%] w-[100%] bg-[#f0efed] text-[#5A5851] font-['Oswald',Sans-serif] text-center">
            <div class="lg:w-[60%] w-[100%]">
                <h1 class="font-bold lg:text-[50px] text-[40px]">2000 BDT</h1>
                <p class="font-[600px] text-[18px]">Your monthly contribution helps provide life-changing,essential needs to your sponsored child and his or her entire community</p>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center text-center text-[#3A3A39]">
        <div class="lg:w-[75%] w-[100%] grid lg:grid-cols-8 grid-cols-4 my-[40px]">
            <div class="lg:w-[130px] lg:h-[130px] w-[100px] h-[100px] flex flex-col items-center mx-auto">
                <div class="flex justify-center items-center w-[50px] h-[50px] text-[25px] rounded-[100%] border-[1px] border-solid border-[#5A5851]">
                    <i aria-hidden="true" class="fas fa-user-tie"></i>
                </div>
                <h1 class="font-[500px] text-[15px] font-['Oswald',Sans-serif]">Teacher</h1>
            </div>
            <div class="lg:w-[130px] lg:h-[130px] w-[100px] h-[100px] flex flex-col items-center mx-auto">
                <div class="flex justify-center items-center w-[50px] h-[50px] text-[25px] rounded-[100%] border-[1px] border-solid border-[#5A5851]">
                    <i aria-hidden="true" class="fas fa-tshirt"></i>
                </div>
                <h1 class="font-[500px] text-[15px] font-['Oswald',Sans-serif]">Uniform</h1>
            </div>
            <div class="lg:w-[130px] lg:h-[130px] w-[100px] h-[100px] flex flex-col items-center mx-auto">
                <div class="flex justify-center items-center w-[50px] h-[50px] text-[25px] rounded-[100%] border-[1px] border-solid border-[#5A5851]">
                    <i aria-hidden="true" class="fas fa-briefcase"></i>
                </div>
                <h1 class="font-[500px] text-[15px] font-['Oswald',Sans-serif]">School <br>Bag</h1>
            </div>
            <div class="lg:w-[130px] lg:h-[130px] w-[100px] h-[100px] flex flex-col items-center mx-auto">
                <div class="flex justify-center items-center w-[50px] h-[50px] text-[25px] rounded-[100%] border-[1px] border-solid border-[#5A5851]">
                    <i aria-hidden="true" class="fas fa-user-md"></i>
                </div>
                <h1 class="font-[500px] text-[15px] font-['Oswald',Sans-serif]">Medical <br>Support</h1>
            </div>
            <div class="lg:w-[130px] lg:h-[130px] w-[100px] h-[100px] flex flex-col items-center mx-auto">
                <div class="flex justify-center items-center w-[50px] h-[50px] text-[25px] rounded-[100%] border-[1px] border-solid border-[#5A5851]">
                    <i aria-hidden="true" class="fas fa-pen"></i>
                </div>
                <h1 class="font-[500px] text-[15px] font-['Oswald',Sans-serif]">Education <br>Materials</h1>
            </div>
            <div class="lg:w-[130px] lg:h-[130px] w-[100px] h-[100px] flex flex-col items-center mx-auto">
                <div class="flex justify-center items-center w-[50px] h-[50px] text-[25px] rounded-[100%] border-[1px] border-solid border-[#5A5851]">
                    <i aria-hidden="true" class="fas fa-graduation-cap"></i>
                </div>
                <h1 class="font-[500px] text-[15px] font-['Oswald',Sans-serif]">Quality <br>Education</h1>
            </div>
            <div class="lg:w-[130px] lg:h-[130px] w-[100px] h-[100px] flex flex-col items-center mx-auto">
                <div class="flex justify-center items-center w-[50px] h-[50px] text-[25px] rounded-[100%] border-[1px] border-solid border-[#5A5851]">
                    <i aria-hidden="true" class="fas fa-basketball-ball"></i>
                </div>
                <h1 class="font-[500px] text-[15px] font-['Oswald',Sans-serif]">Co-curricular <br>Activities</h1>
            </div>
            <div class="lg:w-[130px] lg:h-[130px] w-[100px] h-[100px] flex flex-col items-center mx-auto">
                <div class="flex justify-center items-center w-[50px] h-[50px] text-[25px] rounded-[100%] border-[1px] border-solid border-[#5A5851]">
                    <i aria-hidden="true" class="fas fa-egg"></i>
                </div>
                <h1 class="font-[500px] text-[15px] font-['Oswald',Sans-serif]">Nutritious <br>Food</h1>
            </div>
        </div>
    </div>
    <div class="lg:mx-[450px] mx-[20px] mb-[20px] p-8 flex flex-col justify-center bg-[#FFCB05]">
        <div class="pb-[17px]">
            <h1 class="lg:text-[24px] text-[20px] font-['Oswald',Sans-serif] pb-4">Child Sponsorship Information Form</h1>
            <form action="{% url "psf:sponsor_request" %}" method="post">
                {% csrf_token %}
                <div class="grid lg:grid-cols-2 lg:gap-4 grid-cols-1">
                    <div class="py-1">
                        <label for="fname" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">First Name <span class="text-[12px]">(required)</span></label>
                        <input type="text" name="fname" id="fname" class="fname border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                    <div class="py-1">
                        <label for="lname" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">Last Name <span class="text-[12px]">(required)</span></label>
                        <input type="text" name='lname' id="lname" class="lname border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                </div>
                <div class="py-1">
                    <label for="email" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">Email <span class="text-[12px]">(required)</span></label>
                    <input type="email" name="email" id="email" class="email border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                </div>
                <div class="py-1">
                    <label for="phone" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">Phone Number <span class="text-[12px]">(required)</span></label>
                    <input type="tel" name="phone" id="phone" pattern="[0]{1}[1]{1}[0-9]{9}" class="subject border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                </div>
                <div class="py-1">
                    <label for="number_of_child" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">Number of Child/Children you want to sponsor? <span class="text-[12px]">(required)</span></label>
                    <select name="number_of_child" id="number_of_child" class="subject border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                        <option selected>Select Number</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="pt-4 flex justify-center items-center">
                    <button type="submit" class="uppercase bg-[#000] py-[14px] px-6 hover:bg-opacity-95 hover:text-[#FFCB05] text-white font-semibold">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<h1 class="lg:text-[42px] text-[32px] font-semibold font-['Oswald'] text-center mt-[50px] text-green-500">Learn More About "Sponsor A Child" Program</h1>
        <div class="lg:mx-[200px] mx-[20px] mb-[100px] mt-[50px] flex lg:flex-row flex-col justify-between items-center lg:space-x-16 space-x-0">
            <div class="w-[100%] flex justify-between space-x-4">
                <div class="w-[100%] border-[1px] border-solid border-[#a9a9a9]">
                    <div class="border-b-[1px] border-solid border-[#a9a9a9]">
                        <h1 id="question1" class="p-2 font-bold cursor-pointer text-[#54595F] text-[24px]" onclick="openLightbox('1')"><span id="sign1"><i class="fas fa-plus"></i></span> Quality Education</h1>
                        <p id="answer1" class="hidden py-2 px-4 border-t-[1px] border-solid border-[#a9a9a9] text-[#4F4D4D] font-['Jost', Sans-serif] font-[400px] text-[20px]">With access to quality education children become lifelong learners, transforming their communities. When you sponsor a child, you are ensuring her/him a better future, helping them to reach their full potential thus breaking the cycle of poverty. You are supporting them with quality education and educational needs such as – schools equipment’s, digital support etc.</p>
                    </div>
                    <div class="border-b-[1px] border-solid border-[#a9a9a9]">
                        <h1 id="question2" class="p-2 font-bold cursor-pointer text-[#54595F] text-[24px]" onclick="openLightbox('2')"><span id="sign2"><i class="fas fa-plus"></i></span> Nutritional Support</h1>
                        <p id="answer2" class="hidden py-2 px-4 border-t-[1px] border-solid border-[#a9a9a9] text-[#4F4D4D] font-['Jost', Sans-serif] font-[400px] text-[20px]">Good nutrition is an essential foundation for health and development. Through your contribution, you are ensuring nutritious food for every child, protecting them from malnutrition and helping them to reach their goals.</p>
                    </div>
                    <div class="border-b-[1px] border-solid border-[#a9a9a9]">
                        <h1 id="question3" class="p-2 font-bold cursor-pointer text-[#54595F] text-[24px]" onclick="openLightbox('3')"><span id="sign3"><i class="fas fa-plus"></i></span> Healthcare</h1>
                        <p id="answer3" class="hidden py-2 px-4 border-t-[1px] border-solid border-[#a9a9a9] text-[#4F4D4D] font-['Jost', Sans-serif] font-[400px] text-[20px]">Good health and nutrition empower children, families and communities, spurring them to live fuller lives. Your generous support ensures that children at PSF Foundation receive regular health care, adolescents are provided with proper SRHR care.</p>
                    </div>
                    <div class="border-b-[1px] border-solid border-[#a9a9a9]">
                        <h1 id="question4" class="p-2 font-bold cursor-pointer text-[#54595F] text-[24px]" onclick="openLightbox('4')"><span id="sign4"><i class="fas fa-plus"></i></span> Sustainable Development</h1>
                        <p id="answer4" class="hidden py-2 px-4 border-t-[1px] border-solid border-[#a9a9a9] text-[#4F4D4D] font-['Jost', Sans-serif] font-[400px] text-[20px]">Development should be transformational, community-based and sustainable, focused especially on the basic needs of children. Through your contribution, you are improving the underprivileged communities and bringing them out of the cycle of poverty. Child sponsorship is a proven long-term solution to poverty that allows us to transform entire communities and your sponsorship helps provide: education, health, nutrition, life skills and much more.</p>
                    </div>
                    <div class="border-b-[1px] border-solid border-[#a9a9a9]">
                        <h1 id="question5" class="p-2 font-bold cursor-pointer text-[#54595F] text-[24px]" onclick="openLightbox('5')"><span id="sign5"><i class="fas fa-plus"></i></span> Additional Contribution</h1>
                        <p id="answer5" class="hidden py-2 px-4 border-t-[1px] border-solid border-[#a9a9a9] text-[#4F4D4D] font-['Jost', Sans-serif] font-[400px] text-[20px]">An additional BDT 800 through different CSR activities and the one-off/kind donations that we raise from individuals and institutions who believe in PSF. With the growing numbers of students each year, one of the biggest challenges that we now face is school construction, expansion and maintenance. Your contribution eases the financial constraint for PSF to run the smooth operation.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock mainBody %}
