{% extends "super-admin/base/index.html" %}
{% load static %}
{% block sadminTitle %}
New Children Create
{% endblock sadminTitle %}
{% block sadminMain %}

<div class="bg-gray-300 px-4 py-5 sm:p-6">
    <div class="flex justify-center">
        <div class="mt-3 sm:mt-0 sm:text-left w-2/3 text-black text-[1rem]">
            <form action="{% url "sadmin:children_save" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex gap-x-3">
                    <div class="py-1 w-1/2">
                        <label for="first_name" class=" text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">First Name<span class="text-[12px]">(required)</span></label>
                        <input type="text" id="first_name" name="first_name" placeholder="Md. Masud" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                    <div class="py-1 w-1/2">
                        <label for="last_name" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Last Name<span class="text-[12px]">(required)</span></label>
                        <input type="text" id="last_name" name="last_name" placeholder="Islam" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                </div>
                <div class="py-1">
                    <label for="user_name" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">User Name<span class="text-[12px]">(required)</span></label>
                    <input type="text" id="user_name" name="user_name" placeholder="Masud" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                </div>
                <div class="py-1">
                    <label for="phone_number" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Phone Number<span class="text-[12px]">(required)</span></label>
                    <input type="tel" id="phone_number" name="phone_number" pattern="[0]{1}[1]{1}[0-9]{9}" placeholder="01521xxxxxx" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                </div>
                <div class="flex gap-x-3">
                    <div class="py-1 w-1/2">
                        <label for="father_name" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Father Name<span class="text-[12px]">(required)</span></label>
                        <input type="text" id="father_name" name="father_name" placeholder="Md. Rahim Islam" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                    <div class="py-1 w-1/2">
                        <label for="mother_name" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Mother Name<span class="text-[12px]">(required)</span></label>
                        <input type="text" id="mother_name" name="mother_name" placeholder="Rahima Khatun" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                </div>
                <div class="flex gap-x-3">
                    <div class="py-1 w-1/2">
                        <label for="date_of_birth" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Date Of Birth<span class="text-[12px]">(required)</span></label>
                        <input type="date" id="date_of_birth" name="date_of_birth" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                    <div class="py-1 w-1/2">
                        <label for="birth_certificate" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Birth Certificate Number<span class="text-[12px]">(required)</span></label>
                        <input type="text" id="birth_certificate" name="birth_certificate" placeholder="19991013248902" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                </div>
                <div class="flex gap-x-3">
                    <div class="py-1 w-1/3">
                        <label for="child_height" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Height (feet)<span class="text-[12px]">(required)</span></label>
                        <input type="text" id="child_height" name="child_height" placeholder="5.6 (feet)" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                    <div class="py-1 w-1/3">
                        <label for="child_weight" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Weight (kg)<span class="text-[12px]">(required)</span></label>
                        <input type="text" id="child_weight" name="child_weight" placeholder="34 (kg) " placeholder="Md. Masud Islam" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                    </div>
                    <div class="py-1 w-1/3">
                        <label for="child_blood" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Blood Group<span class="text-[12px]">(required)</span></label>
                        <select name="child_blood" id="child_blood" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" required>
                            <option >select blood group</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                    </div>
                </div>
                <div class="py-1">
                    <label class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Profile Image <span class="text-[12px]">(required)</span></label>
                    <label for="child_image" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">
                        <div class="flex justify-center w-full rounded border-dashed border-2 border-indigo-600">
                            <div class="w-1/3 py-5 flex flex-col items-center cursor-pointer" id="childImageShow">
                                <span class="py-5"><i class="fas fa-image text-[5rem] text-stone-950"></i></span>
                                <p>Upload a file or drag and drop </p>
                                <p>PNG,JPG OR GIF up to 2 MB</p>
                            </div>
                        </div>
                    </label>
                    <input type="file" name="child_image" id="child_image" class="hidden border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]">
                </div>
                <div class="py-1">
                    <label for="pre_address" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Present Address <span class="text-[12px]">(required)</span></label>
                    <textarea rows="4"  name="pre_address" id="pre_address" class=" border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] p-[10px] w-[100%]"
                        placeholder="village: Kamarhaat ; thana: Chatmohar ; district:Pabna" required
                    ></textarea>
                </div>
                <div class="py-1">
                    <label for="par_address" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Parmanent Address <span class="text-[12px]">(required)</span></label>
                    <textarea rows="4"  name="par_address" id="par_address" class=" border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] p-[10px] w-[100%]"
                    placeholder="village: Kamarhaat ; thana: Chatmohar ; district:Pabna" required
                    ></textarea>
                </div>
                <div class="py-1">
                    <label for="description" class="text-[rgba(26,26,26,.7)] text-xl font-['adobe-garamond-pro']">Description <span class="text-[12px]">(required)</span></label>
                    <textarea rows="7"  name="description" id="description" class=" border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] p-[10px] w-[100%]"
                    required
                    ></textarea>
                </div>
                <div class="py-4 flex justify-center space-x-4 items-center">
                    <button type="submit" class="text-[#000] uppercase bg-green-400 py-2 px-8 hover:bg-[rgba(26,26,26,.9)] hover:text-[#FFCB05] font-semibold">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock sadminMain %}
{% block sadminScript %}
<script>
    $("#child_image").on('change',()=>{
        $("#childImageShow").empty()
        var upload_image = document.getElementById('child_image');
        var show_iamge_link = '<img src="'+URL.createObjectURL(upload_image.files[0])+'" class="w-full h-[17rem]" alt="">'
        $("#childImageShow").append(show_iamge_link)
    })
</script>
{% endblock sadminScript %}