{% extends "base/index.html" %}
{% block mainBody %}
<div class="lg:mx-[200px] mx-[20px] my-[100px]">
    <div class="text-center w-full">
        <h1 class="lg:text-[40px] text-[32px] font-bold text-center text-green-500">Shelter Home</h1>
    </div>
    <div class="mt-[20px]">
        <p class="text-justify text-[16px] text-blue-700">Trafficking is disastrous threat for the girls living
            on the street.
            We don’t let our girl to be
            exploited. With the aim of providing with basic needs –food, clothing, shelter, medical treatment,
            education and entertainment, and training like tailoring, keeping birds and animals, making
            handicrafts and some computer literacy our shelter home is working since last two years.</p>
    </div>
    <div class="mt-[20px]">
        <p class="text-justify text-[16px]">Prothom Surjo <span class="text-green-500 font-semibold">Shelter
                Home</span> is a nonprofit organization founded as a project of PSF. It was
            established in 2013. It aims to provide safe accommodation for ensure healthy environment for mental
            development, provide food for ensuring daily nutrition, ensure the participation in mainstream
            education, and training for skill development in different trades. We started the shelter home with
            a tinshed four (4) roomed rented house. Now we have a nine (9) roomed home. Four rooms are used for
            their accomodation. One room is used as office, one room as store room ,one room for reading and TV
            room. <span class="text-red-500 font-semibold">The rest one room/ are used for Computer training
                room.</span>The home is safe and secure for the
            children. There is a premises where they can play. We are now working for increasing and improving
            our capacities to give shelter to a more number of such underprivileged girls.</p>
    </div>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4 mt-[20px]">
        <div class="w-[100%]">
            <img class="w-[100%]" src="image/shelter-home-1.jpg" alt="">
        </div>
        <div class="w-[100%]">
            <img class="w-[100%]" src="image/shelter-home-2.jpg" alt="">
        </div>
    </div>
    <div class="mt-[20px]">
        <p class="text-justify text-[16px]">In this sheltering project children are aged between 4 to 14 years,
            all are girls. Often, female
            children become more vulnerable for their gender identity. We noticed that the adolescent girls are
            being exploited more. We felt a strong urge to save some of these girls. Our plan to set up a
            shelter home was started with the 15 most vulnerable girl children. Within one year the number
            increased into 25.</p>
    </div>
    <div class="grid grid-cols-1 mt-[20px]">
        <div class="w-[100%] flex justify-center items-center">
            <img class="w-[100%] lg:w-[500px] h-[100%] lg:h-[400px]" src="image/shelter-home-3.jpg" alt="">
        </div>
    </div>
    <div class="mt-[20px]">
        <p class="text-justify text-[16px] italic text-green-500 font-semibold">The total environment is very inappropriate and hostile for a girl child at the streets. Sexual
            abuse, kidnapping, trafficking, and forced prostitution are their unavoidable destiny in most cases.
        </p>
    </div>
</div>
{% endblock mainBody %}