{% extends "base/index.html" %}
{% load static %}
{% block mainBody %}
<main class="">
    <div class="lg:h-[60vh] h-[28vh] relative flex justify-center items-center"
        style="background:linear-gradient(to top, #f3c9c9, rgba(255,255,255.9), rgba(255,255,255,.7), rgba(255,255,255,.4), rgba(255,255,255,0));">
        <img class="lg:h-[60vh] h-[28vh] object-cover lg:w-[80%] w-full" src="{{shelter_child.child_cover_image.url}}"
            alt="">
        <div
            class="absolute lg:w-[80%] w-full bottom-0 lg:mb-[-160px] mb-[-130px] lg:pl-4 flex lg:flex-row flex-col lg:justify-start justify-center items-center">
            <img class="lg:w-[250px] w-[120px] lg:h-[250px] h-[120px] rounded-[100%] object-cover  border-[5px] border-solid border-[#fffae6]"
                src="{{ shelter_child.child_image.url }}" alt="">
            <div
                class="mt-[10px] lg:w-[300px] w-[200px] lg:h-[100px] h-[60px] text-center flex flex-col justify-center items-center text-black px-4 py-2">
                <h1 class="lg:text-[32px] text-[24px] font-semibold font-['Oswald'] text-center">
                    {{ shelter_child.child_user.user_name}}
                </h1>
                <div class="flex justify-between space-x-1">
                    <h1><span class="font-semibold">Age:</span> {{ shelter_child.age }} year</h1>
                    <h1><span class="font-semibold">Class:</span> {{shelter_child.child_study}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:mx-[200px] mx-[20px] my-[50px] lg:mt-[180px] mt-[130px]">
        <div class="flex lg:flex-row flex-col justify-between lg:space-y-0 space-y-4">
            <div>
                <h1 class="lg:text-[32px] text-[24px] font-semibold text-green-500">Intro</h1>
                <h1 class="lg:text-[20px] text-[16px]"><span class="font-semibold">Full Name:</span> {{ shelter_child.child_first_name }} {{ shelter_child.child_last_name }}</h1>
                <h1 class="lg:text-[20px] text-[16px]"><span class="font-semibold">Father:</span> {{ shelter_child.child_father_name }}</h1>
                <h1 class="lg:text-[20px] text-[16px]"><span class="font-semibold">Mother:</span> {{ shelter_child.child_mother_name }}</h1>
                <h1 class="lg:text-[20px] text-[16px]"><span class="font-semibold">Date Of Birth:</span> {{ shelter_child.child_date_of_birth }}</h1>
                <h1 class="lg:text-[20px] text-[16px]"><span class="font-semibold">Blood Group:</span> {{ shelter_child.child_blood }}</h1>
                <h1 class="lg:text-[20px] text-[16px]"><span class="font-semibold">Present Address:</span> {{ shelter_child.child_present_address }}</h1>
                <h1 class="lg:text-[20px] text-[16px]"><span class="font-semibold">Parmanent Address:</span> {{ shelter_child.child_parmanent_address }}</h1>
            </div>
            <div>
                <h1 class="lg:text-[20px] text-[16px]">If you want to Donation on this Child, Please Click on the Donate Button</h1>
                <div class="flex justify-end mt-2">
                    <button class="text-[#000] uppercase bg-[#FFCB05] rounded-[8px] lg:text-[16px] text-[14px] lg:py-[12px] py-[10px] lg:px-6 px-4 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button>
                </div>
            </div>
        </div>
        <div>
            <h1 class="lg:text-[32px] text-[24px] font-semibold text-green-500 mt-[20px]">Bio</h1>
            <p class="lg:text-[16px] text-[16px] text-justify">{{ shelter_child.child_description }}</p>
        </div>
        <div>
            <div class="flex lg:flex-row flex-col lg:items-center space-x-4 mt-[20px]">
                <h1 class="lg:text-[32px] text-[24px] font-semibold text-green-500">Progress Report</h1>
                <div class="lg:text-[20px] text-[16px] font-semibold">
                    <label for="year">Select a Year:</label>
                    <select id="progress_year" name="year">
                        {% for year in child_progress_years %}
                            {% if forloop.counter == 1 %}
                                <option value="{{year.progress_year}}" selected>{{year.progress_year}}</option>
                            {% else %}
                                <option value="{{year.progress_year}}">{{year.progress_year}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <h1 class="lg:text-[32px] text-[24px] font-semibold text-center my-[20px]"><span class="text-green-500" id="show_year">{{last_year}}</span> Progress Report</h1>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" id="show_progress_card">
                    {% for progress in child_progress %}
                        <div class="relative border-2 border-solid border-gray-700">
                            <img src="{{progress.progress_image.url}}" alt="{{image.image_title}}" class="w-full h-64 object-cover object-center cursor-pointer"
                                onclick="openLightbox2(`{{progress.progress_image.url}}`, 'Description for Photo 1.')">
                            <div class="p-4 text-justify">
                                <h2 class="text-xl font-semibold">{{progress.progress_title}}</h2>
                                <p class="text-gray-600">{{progress.progress_description}}</p>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
                <div id="lightbox2" class="fixed lg:top-9 top-7 left-0 w-screen h-screen bg-black bg-opacity-70 flex justify-center items-center hidden">
                    <div class="bg-white p-4 rounded-lg shadow-lg">
                        <div class="flex justify-end mb-4">
                            <button id="close-lightbox" class="bg-red-500 text-white mt-4 p-2 rounded hover:bg-red-600" onclick="closeLightbox2()">Close</button>
                        </div>
                        <img id="lightbox-image2" src="" alt="Lightbox Image" class="w-50 lg:h-[500px]">
                        <!-- <p id="lightbox-description" class="mt-4 text-center text-gray-600"></p> -->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="flex lg:flex-row flex-col lg:items-center space-x-4 mt-[20px]">
                <h1 class="lg:text-[32px] text-[24px] font-semibold text-green-500">Donar List</h1>
                <div class="lg:text-[20px] text-[16px] font-semibold">
                    <label for="year">Select a Year:</label>
                    <select id="donate_year" name="year">
                        {% for year in donate_years %}
                            {% if forloop.counter == 1 %}
                                <option value="{{year.donate_year}}" selected>{{year.donate_year}}</option>
                            {% else %}
                                <option value="{{year.donate_year}}">{{year.donate_year}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div>
            <h1 class="lg:text-[32px] text-[24px] font-semibold text-center my-[20px]"><span class="text-green-500" id="donate_show_year">{{last_donate_year}}</span> Donar List</h1>
            <div class="overflow-x-auto overflow-y-auto p-6 lg:text-[20px] text-[16px]">
                <table class="w-full h-[100px] text-left">
                    <thead>
                        <tr class="border-b border-solid border-gray-700">
                            <th class="px-3 py-3">
                                Name
                            </th>
                            <th class="px-3 py-3">
                                Occupation
                            </th>
                            <th class="px-3 py-3">
                                Donation Type
                            </th>
                            <th class="px-3 py-3">
                                Date
                            </th>
                        </tr>
                    </thead>
                    <tbody id="child_donate_list">
                        {% for donate in child_doners %}
                            <tr class="border-b border-solid border-gray-700">
                                <td class="px-3 py-3">
                                    samrat biswas
                                </td>
                                <td class="px-3 py-3">
                                    student
                                </td>
                                <td class="px-3 py-3">
                                    food
                                </td>
                                <td class="px-3 py-3">
                                    12/10/2023
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>
    var currentYear = new Date().getFullYear();
    var yearSelect1 = document.getElementById("year1");
    var yearSelect2 = document.getElementById("year2");
    var startYear = currentYear - 10;
    var endYear = currentYear + 10;
    for (var year = startYear; year <= endYear; year++) {
        var option = document.createElement("option");
        option.value = year;
        option.text = year;
        yearSelect1.add(option);
    }
    for (var year = startYear; year <= endYear; year++) {
        var option = document.createElement("option");
        option.value = year;
        option.text = year;
        yearSelect2.add(option);
    }
</script>
<script>
    function openLightbox2(imageSrc, description) {
        document.getElementById('lightbox-image2').src = imageSrc;
        // document.getElementById('lightbox-description').textContent = description;
        document.getElementById('lightbox2').style.display = 'flex';
    }
    function closeLightbox2() {
        document.getElementById('lightbox2').style.display = 'none';
    }
</script>
{% endblock mainBody %}
{% block mainScript %}
<script>
    var child_id = "{{shelter_child.child_user.id}}";
    $("#progress_year").change(()=>{
        var year = $("#progress_year").val()
        $.ajax({
            type:"POST",
            url:"{% url 'psf:child_progress_change' %}",
            data:{
                child_id:child_id,
                year:year,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success:(res)=>{
                console.log(res)
                if(res['status'] == 'success'){
                    var progress = res['progress'];
                    $("#show_progress_card").empty();
                    $("#show_year").text(year);
                    progress.forEach((data)=>{
                        var progress_card =`<div class="relative border-2 border-solid border-gray-700">
                            <img src="/media/`+data['progress_image']+`" alt="asddd" class="w-full h-64 object-cover object-center cursor-pointer"
                                onclick="openLightbox2('/media/`+data['progress_image']+`','Description for Photo 1.')">
                            <div class="p-4 text-justify">
                                <h2 class="text-xl font-semibold">`+data['progress_title']+`</h2>
                                <p class="text-gray-600">`+data['progress_description']+`</p>
                            </div>
                        </div>`;
                        $("#show_progress_card").append(progress_card);
                    })
                }
            }
        })
    });

    //doante change js section
    $("#donate_year").change(()=>{
        var year = $("#donate_year").val()
        console.log(year)
        $.ajax({
            type:"POST",
            url:"{% url 'psf:child_donate_change' %}",
            data:{
                child_id:child_id,
                year:year,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success:(res)=>{
                console.log(res)
                if(res['status'] == 'success'){
                    var donates = res['donates'];
                    $("#child_donate_list").empty();
                    $("#donate_show_year").text(year);
                    donates.forEach((data)=>{
                        var create_date = new Date(data['created_at'])
                        var show_date = create_date.getDate()+'/'+create_date.getMonth()+'/'+create_date.getFullYear();
                        var donate_card =`<tr class="border-b border-solid border-gray-700">
                                                <td class="px-3 py-3">
                                                    `+data['first_name']+` `+data['last_name']+`
                                                </td>
                                                <td class="px-3 py-3">
                                                    `+data['occupation']+`
                                                </td>
                                                <td class="px-3 py-3">
                                                    `+data['donate_type']+`
                                                </td>
                                                <td class="px-3 py-3">
                                                    `+show_date+`
                                                </td>
                                            </tr>`;
                        $("#child_donate_list").append(donate_card);
                    })
                }
            }
        })
    });
</script>
{% endblock mainScript %}
