{% extends "base/index.html" %}
{% block mainBody %}
<div class="lg:mx-[200px] mx-[20px] my-[100px] flex lg:flex-row flex-col justify-between items-center lg:space-x-16 space-x-0">
    <div class="w-[100%] flex justify-between space-x-4">
        <div class="w-[50%] border-[1px] border-solid border-[#a9a9a9]">
            <div class="border-b-[1px] border-solid border-[#a9a9a9]">
                <h1 id="question1" class="p-2 font-bold cursor-pointer text-[#54595F]"><span id="sign1"><i class="fas fa-plus"></i></span> What is BSKS Foundation ?</h1>
                <p id="answer1" class="hidden py-2 px-4 border-t-[1px] border-solid border-[#a9a9a9] text-[#4F4D4D] font-['Jost', Sans-serif] font-[400px] text-[17px]">BSKS Foundation is a movement initiated by the youth of Bangladesh dedicated to help the impoverished people of Bangladesh. We hope to break the cycle of poverty through the education and rebuilding of our nation.</p>
            </div>
            <div class="border-b-[1px] border-solid border-[#a9a9a9]">
                <h1 id="question2" class="p-2 font-bold cursor-pointer text-[#54595F]"><span id="sign2"><i class="fas fa-plus"></i></span> How and When did it start ?</h1>
                <p id="answer2" class="hidden py-2 px-4 border-t-[1px] border-solid border-[#a9a9a9] text-[#4F4D4D] font-['Jost', Sans-serif] font-[400px] text-[17px]">BSKS Foundation started its journey on 14th April, 2007 when Korvi Rakshand and his friends rented a single room in the Rayer Bazar slum area. With a single dream of changing the lives of the children in the area, Korvi and his friends began teaching the 17 children who showed up.The first supporting project that BSKS initiated was the distribution of relief supplies after a flood in 2007.</p>
            </div>
        </div>
        <div class="w-[50%] border-[1px] border-solid border-[#a9a9a9]">
            <div class="border-b-[1px] border-solid border-[#a9a9a9]">
                <h1 class="p-1 font-bold cursor-pointer text-[#54595F]">+ What is BSKS Foundation ?</h1>
                <p class="hidden border-t-[1px] border-solid border-[#a9a9a9]">BSKS Foundation is a movement initiated by the youth of Bangladesh dedicated to help the impoverished people of Bangladesh. We hope to break the cycle of poverty through the education and rebuilding of our nation.</p>
            </div>
            <div>
                <h1 class="p-1">+ What is BSKS Foundation ?</h1>
            </div>
        </div>
    </div>
</div>

{% endblock mainBody %}