{% extends "base/index.html" %}
{% block mainBody %}
<div class="lg:mx-[200px] mx-[20px] my-[100px] grid lg:grid-cols-3 grid-cols-1 gap-8">
    {% for event in current_events %}
        <div class="shadow-xl bg-[#fff] rounded-md">
            <div>
                <a href="#"><img class="h-[250px] w-full" src="{{event.event_image.url}}" alt=""></a>
            </div>
            <div class="px-[20px]">
                <div class="text-[#54595F] py-[30px] text-[20px] font-bold">
                    <a href="#">{{event.event_title|truncatechars:150}}</a>
                </div>
                <div class="py-[20px]">
                    <a href="#" class="text-[#FFCB05]">Read More »</a>
                </div>
    <div class="shadow-xl bg-[#fff] rounded-md">
        <div>
            <a href="{% url 'psf:event_details' %}"><img class="h-[250px]" src="https://www.zdnet.com/a/img/resize/ba1b1ab92085d777ab5e313b34c66a94b7aa1236/2023/06/05/79a43eb8-ce38-488c-8cc0-e04699aaca7f/bing.jpg?auto=webp&width=1280" alt=""></a>
        </div>
        <div class="px-[20px]">
            <div class="text-[#54595F] py-[30px] text-[20px] font-bold">
                <a href="{% url 'psf:event_details' %}">Operation and Management of the Edward M. Kennedy Center</a>
            </div>
            <div class="py-[20px]">
                <a href="{% url 'psf:event_details' %}" class="text-[#FFCB05]">Read More »</a>
            </div>
        </div>
    {% endfor %}
   
</div>
{% endblock mainBody %}