{% extends "base/index.html" %}
{% block mainBody %}
<div class="text-center w-full mt-[100px] mb-[50px]">
    <h1 class="lg:text-[40px] text-[32px] font-bold text-center text-green-500">Current Events</h1>
</div>
<div class="lg:mx-[200px] mx-[20px] mb-[100px] grid lg:grid-cols-3 grid-cols-1 gap-8">
    {% for event in current_events %}
        <div class="shadow-xl bg-[#fff] rounded-md">
            <div>
                <a href="{% url 'psf:event_details' event.id %}"><img class="h-[250px] w-full" src="{{event.event_image.url}}" alt=""></a>
            </div>
            <div class="px-[20px]">
                <div class="text-[#54595F] py-[30px] text-[20px] font-bold">
                    <a href="{% url 'psf:event_details' event.id %}">{{event.event_title|truncatechars:150}}</a>
                </div>
                <div class="py-[20px]">
                    <a href="{% url 'psf:event_details' event.id %}" class="text-[#FFCB05]">Read More »</a>
                </div>
            </div>
        </div>
    {% endfor %}
   
</div>
{% endblock mainBody %}