{% extends "base/index.html" %}
{% load static %}
{% block mainBody %}
<div class="owl-carousel carousel1 owl-theme w-[100%] h-[80vh]">
    <div class="item w-[100%] h-[80vh] relative">
        <img class="w-[100%] h-[80vh]" src="https://th.bing.com/th/id/R.1abee17234dca9feaf9d0064bf491f6e?rik=Gs1TTKs9hDMyHg&pid=ImgRaw&r=0" alt="">
        <div class="absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
                <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center">HELP BRING A SUSTAINABLE SOCIAL CHANGE</h1>
                <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">The best way to change a child’s life is to change the world they live in. When you sponsor a child, you are not only helping them, but also you are changing an entire community to ensure sustainability and giving children the best opportunities for a stable and fruitful life.</p>
            </div>
        </div>
    </div>
    <div class="item w-[100%] h-[80vh] relative">
        <img class="w-[100%] h-[80vh]" src="https://th.bing.com/th/id/R.5bc6a94ca0114ea56198bccc0a2b0d98?rik=eDteuVFFJ12iYg&pid=ImgRaw&r=0" alt="">
        <div class="absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
                <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center">HELP BRING A SUSTAINABLE SOCIAL CHANGE</h1>
                <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">The best way to change a child’s life is to change the world they live in. When you sponsor a child, you are not only helping them, but also you are changing an entire community to ensure sustainability and giving children the best opportunities for a stable and fruitful life.</p>
            </div>
        </div>
    </div>
    <div class="item w-[100%] h-[80vh] relative">
        <img class="w-[100%] h-[80vh]" src="https://th.bing.com/th/id/OIP.KoKk_vYZW-dFP-YSdRSOZwHaEo?pid=ImgDet&rs=1" alt="">
        <div class="absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
                <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center">HELP BRING A SUSTAINABLE SOCIAL CHANGE</h1>
                <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">The best way to change a child’s life is to change the world they live in. When you sponsor a child, you are not only helping them, but also you are changing an entire community to ensure sustainability and giving children the best opportunities for a stable and fruitful life.</p>
            </div>
        </div>
    </div>
    <div class="item w-[100%] h-[80vh] relative">
        <img class="w-[100%] h-[80vh]" src="https://th.bing.com/th/id/R.a8192cf132a9089096def41228ad9273?rik=du2ssBCYE6rnhQ&riu=http%3a%2f%2fradiusblocks.com%2fwp-content%2fuploads%2f2022%2f09%2fimage-grid_2.jpg&ehk=RRAlBzs%2bnQb42FU1oz82jqvc0Aeni0dVkTMRkJPqW1k%3d&risl=&pid=ImgRaw&r=0" alt="">
        <div class="absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
                <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center">HELP BRING A SUSTAINABLE SOCIAL CHANGE</h1>
                <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">The best way to change a child’s life is to change the world they live in. When you sponsor a child, you are not only helping them, but also you are changing an entire community to ensure sustainability and giving children the best opportunities for a stable and fruitful life.</p>
            </div>
        </div>
    </div>
    <div class="item w-[100%] h-[80vh] relative">
        <img class="w-[100%] h-[80vh]" src="https://th.bing.com/th/id/R.1ac8616cc26c5ffa5d4a124e068c447d?rik=Q3ad8plACqWAMQ&riu=http%3a%2f%2flovelyfotos.l.o.pic.centerblog.net%2fo%2f98a8ed98.jpg&ehk=oMZ4%2bUZ%2b2P7UvBelRgLJi%2fXMGMrpqfqtm%2bTC58Gqtbg%3d&risl=&pid=ImgRaw&r=0" alt="">
        <div class="absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
                <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center">HELP BRING A SUSTAINABLE SOCIAL CHANGE</h1>
                <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">The best way to change a child’s life is to change the world they live in. When you sponsor a child, you are not only helping them, but also you are changing an entire community to ensure sustainability and giving children the best opportunities for a stable and fruitful life.</p>
            </div>
        </div>
    </div>
    <div class="item w-[100%] h-[80vh] relative">
        <img class="w-[100%] h-[80vh]" src="https://th.bing.com/th/id/R.ed4c5c82883ef4309eb02f8e2417646c?rik=L7mq4JeVSZO0Gw&riu=http%3a%2f%2fradiusblocks.com%2fwp-content%2fuploads%2f2022%2f09%2fimage-grid_3.jpg&ehk=lsdi%2bBpjRQvuIvmtlegfvmYOtqp0reJX%2baon5vAL4F4%3d&risl=&pid=ImgRaw&r=0" alt="">
        <div class="absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
                <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center">HELP BRING A SUSTAINABLE SOCIAL CHANGE</h1>
                <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">The best way to change a child’s life is to change the world they live in. When you sponsor a child, you are not only helping them, but also you are changing an entire community to ensure sustainability and giving children the best opportunities for a stable and fruitful life.</p>
            </div>
        </div>
    </div>
    <div class="item w-[100%] h-[80vh] relative">
        <img class="w-[100%] h-[80vh]" src="https://th.bing.com/th/id/R.c327c0e4318b08c3f9ed9c4dc57f7dec?rik=v1rQ%2foEyL7vjbg&pid=ImgRaw&r=0" alt="">
        <div class="absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="lg:w-[65%] w-[100%] lg:py-3 py-2">
                <h1 class="text-[#FFCB05] lg:text-[42px] text-[24px] font-bold font-['Oswald'] text-center">HELP BRING A SUSTAINABLE SOCIAL CHANGE</h1>
                <p class="lg:block hidden pt-1 text-[20px] leading-7 text-center text-white">The best way to change a child’s life is to change the world they live in. When you sponsor a child, you are not only helping them, but also you are changing an entire community to ensure sustainability and giving children the best opportunities for a stable and fruitful life.</p>
            </div>
        </div>
    </div>
</div>
<div class="lg:mx-[200px] mx-[20px] my-[20px]">
    <h1 class="lg:text-[42px] text-[24px] font-semibold text-center text-[#FFCB05]">Give a Little. Change a Lot.</h1>
    <h1 class="lg:text-[42px] text-[24px] font-semibold text-center">Current Causes</h1>
    <h1 class="lg:text-[20px] text-[16px] text-center">Donate For These Causes, And Help Our Students Keep Their Dreams Alive</h1>
    <div class="my-[30px] grid lg:grid-cols-4 grid-cols-1 gap-2">
            <div class="shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="event_details.php"><img class="h-[280px] w-[100%]" src="https://jaago.com.bd/wp-content/uploads/2023/03/Zakat-for-Education-donate-for-zakat-1.webp" alt=""></a>
                </div>
                <div class="w-[100%]">
                    <button class="text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[14px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button>
                </div>
                <div class="px-[20px] py-[10px]">
                    <h1 class="text-[24px] font-semibold text-center">ZAKAT for Education</h1>
                    <p class="text-[16px] text-[#54595F] text-center">Utilizing Zakat funds for education can be the key to unlocking a brighter future for someone.</p>
                </div>
            </div>
            <div class="shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="event_details.php"><img class="h-[280px] w-[100%]" src="https://jaago.com.bd/wp-content/uploads/2023/03/Donate-for-School-Uniform.webp" alt=""></a>
                </div>
                <div class="w-[100%]">
                    <button class="text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[14px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button>
                </div>
                <div class="px-[20px] py-[10px]">
                    <h1 class="text-[24px] font-semibold text-center">School Uniform</h1>
                    <p class="text-[16px] text-[#54595F] text-center">School Uniform for greater School Spirit and pride among all the children.</p>
                </div>
            </div>
            <div class="shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="event_details.php"><img class="h-[280px] w-[100%]" src="https://jaago.com.bd/wp-content/uploads/2023/03/Donate-for-School-Stationary.webp" alt=""></a>
                </div>
                <div class="w-[100%]">
                    <button class="text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[14px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button>
                </div>
                <div class="px-[20px] py-[10px]">
                    <h1 class="text-[24px] font-semibold text-center">School Stationary</h1>
                    <p class="text-[16px] text-[#54595F] text-center">Stationery items of various sorts entice children to study with vigour.</p>
                </div>
            </div>
            <div class="shadow-xl bg-[#fff] rounded-md w-[100%] h-[520px]">
                <div class="">
                    <a href="event_details.php"><img class="h-[280px] w-[100%]" src="https://jaago.com.bd/wp-content/uploads/2023/03/Donate-for-School-Bag.webp" alt=""></a>
                </div>
                <div class="w-[100%]">
                    <button class="text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[14px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button>
                </div>
                <div class="px-[20px] py-[10px]">
                    <h1 class="text-[24px] font-semibold text-center">School Bag</h1>
                    <p class="text-[16px] text-[#54595F] text-center">A durable school bag ensures the best schooling experience and comfort.</p>
                </div>
            </div>
    </div>
</div>
<div class="lg:mx-[200px] mx-[20px] my-[10px]">
        <h1 class="lg:text-[42px] text-[24px] text-center font-semibold mb-8">Most Populer Event/Project</h1>
        <div class="owl-carousel carousel3 owl-theme">
            <div class="item shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="#"><img class="h-[250px]" src="{% static 'image/logo.jpg' %}" alt=""></a>
                </div>
                <div class="px-[20px]">
                    <div class="text-[#54595F] py-[30px] text-[20px] font-bold">
                        <a href="#">Operation and Management of the Edward M. Kennedy Center</a>
                    </div>
                    <div class="py-[20px]">
                        <a href="#" class="text-[#FFCB05]">Read More »</a>
                    </div>
                </div>
            </div>
            <div class="item shadow-xl bg-[#fff] rounded-md w-[100%]">
                <div>
                    <a href="#"><img class="h-[250px]" src="{% static 'image/logo.jpg' %}" alt=""></a>
                </div>
                <div class="px-[20px]">
                    <div class="text-[#54595F] py-[30px] text-[20px] font-bold">
                        <a href="#">Operation and Management of the Edward M. Kennedy Center</a>
                    </div>
                    <div class="py-[20px]">
                        <a href="#" class="text-[#FFCB05]">Read More »</a>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="lg:mx-[200px] mx-[20px] my-[100px]">
    <div class="owl-carousel carousel2 owl-theme w-[100%] h-[80vh]">
        <div class="item w-[100%] h-[80vh]"><iframe class="w-[100%] h-[100%]" allowfullscreen src="{% static 'video/video1.mp4' %}" frameborder="0"></iframe></div>
        <!-- <div class="item w-[100%] h-[80vh]"><iframe class="w-[100%] h-[100%]" allowfullscreen src="video/Btv news.mp4" frameborder="0"></iframe></div> -->
    </div>
</div>
<div class="mt-[100px]">
    <div class="lg:h-[40vh] w-[100%] h-[80vh] relative">
        <img class="lg:h-[40vh] w-[100%] h-[80vh] object-cover" src="https://jaago.com.bd/wp-content/uploads/2023/03/Sponsor-A-Child.webp" alt="">
        <div class="lg:h-[40vh] w-[100%] h-[80vh] absolute bottom-0 flex justify-center items-center bg-opacity-[.5] bg-[#2b2b2b]">
            <div class="flex lg:flex-row flex-col justify-center lg:space-x-[100px] space-x-0 lg:space-y-0 space-y-[50px]">
                <div class="flex flex-col justify-center items-center space-y-6">
                    <h1 class="text-[42px] font-semibold font-['Oswald'] text-white text-center">Make A Donation</h1>
                    <h1 class="text-[#FFCB05] text-[18px] text-center">Your donation can support a child’s education</h1>
                    <a href="donate.php"><button class="rounded-xl text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[10px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">Donate Now</button></a>
                </div>
                <div class="flex flex-col justify-center items-center space-y-6">
                    <h1 class="text-[42px] font-semibold font-['Oswald'] text-white text-center">Make A Donation</h1>
                    <h1 class="text-[#FFCB05] text-[18px] text-center">Just BDT 2,000 to support a child’s monthly education</h1>
                    <a href="Sponsor.php"><button class="rounded-xl text-[#000] uppercase bg-[#FFCB05] w-[100%] py-[10px] px-6 hover:bg-[#000] hover:text-[#FFCB05] font-semibold">SPONSOR NOW</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock mainBody %}